head
    title IT Support forms
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=base_path + '/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href=base_path + '/css/bootstrap.min.css')
    link(rel='stylesheet', href=base_path + '/css/select2.css')
    link(rel='stylesheet', href=base_path + '/css/select2bootstrap.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

    link(rel='stylesheet', href=base_path + '/css/style.css')
    base(href=base_path)